# Login details for the bot itself
jid: 'alertmanager@example.com'
password: 'PASSWORD'
# (optional) command that produces the password
# password_command: 'cat /run/secrets/foo'
listen_address: '127.0.0.1'
listen_port: 9199
# JID to send alerts to
to_jid: 'jelmer@example.com'
# List of JIDs that are allowed to query alerts and set silences. Defaults to
# to_jid.
amtool_allowed: []
# Message format (short, full)
format: 'short'
