---
name: Build Python distributions

"on":
  push:
  pull_request:
  schedule:
    - cron: "0 6 * * *"   # Daily 6AM UTC build

jobs:
  build-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: true

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build wheels
        run: python -m build --wheel
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: artifact-${{ matrix.os }}
          path: ./dist/*.whl

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build sdist
        run: python -m build --sdist
      - name: Upload sdist
        uses: actions/upload-artifact@v6
        with:
          name: artifact-source
          path: ./dist/*.tar.gz

  test-sdist:
    needs:
      - build-sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Upgrade packging to avoid a bug in twine.
          # See https://github.com/pypa/twine/issues/1216
          pip install "twine>=6.1.0" "packaging>=24.2"
      - name: Download sdist
        uses: actions/download-artifact@v7
        with:
          name: artifact-source
          path: dist
      - name: Test sdist
        run: twine check dist/*
      - name: Test installation from sdist
        run: pip install dist/*.tar.gz

  publish:
    runs-on: ubuntu-latest
    needs:
      - build-wheels
      - build-sdist
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/prometheus-xmpp-alerts
    steps:
      - name: Download distributions
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true
          pattern: artifact-*
          path: dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
